@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 1;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}
nav .logo h1 {
  font-size: 1.1rem;
  background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-left: 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #f5f5f5;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 1px;
  background-color: #1f1f1f;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}
.hamburger-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.hamburger-active .line:nth-child(2) {
  width: 0px;
}

.hamburger-active .line:nth-child(1),
.hamburger-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.hamburger-active .line:nth-child(1) {
  transform: translateY(12px);
}

.hamburger-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: rgba(255, 255, 255);
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}
.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: #000;
  font-size: 95%;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}
@media screen and (max-width: 790px) {
  .hamburger {
    display: block;
  }
  nav ul {
    display: none;
  }
}



@media (max-width:1360px) {
    .footer{
      padding: 0 2rem;
    }
    
}

@media  (max-width:1200px){
    html{
        font-size: 62.5%
    } 

    .btn-1{
        padding: 1.5rem 2rem;

    }
    .footer{
        padding: 0 2rem;
    }

    .text{
        padding: 0 2rem;
    }

    .btn{
        padding: 0rem 6rem;
    }
    
}

@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    
    
}@media (max-width:800px) {
    html{
        font-size: 50%;
    }

    .btn{
        font-size: 15px;
    }
    .text p{
        line-height: 4rem;
    }
    #icon{
        display: inline-block;
    }
    
}




@media (max-width:768px) {
    html{
        font-size: 45%;
    }

    .icon{
        display: block;

    }
    .navbar{
        display: none;
    }

    .btn{
        font-size: 15px;
    }
    .text p{
        line-height: 4rem;
    }
    #icon{
        display: inline-block;
    }
    
}



@media (max-width:568px) {

    html{
        font-size: 40%;
    }
}

@media (max-width:500px) {

    html{
        font-size: 35%;
    }
    .icon{
        display: none;
    }
}





.icon {
    top: 420px;
    left: 50px;
    margin: 3rem;
}
.icon i{
    margin-inline: 14px;
}
.icon span{
    font-size: 30px;
}
.twitter{
    color: #ffff;
}
.facebook{
    color: #ffff;
}
.linkedin{
    color: #ffff;
}
.instagram{
    color: #ffff;
 } 

.services h2{
    margin-bottom: 5rem;

}

/* card Section */

h2{
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
}
.servies-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin: 5rem;
}

.service-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.servies-container .services-box{
    flex: 1 1 30rem;
    background-color:#30363ae0;
    padding: 1rem 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid black;
    transition: .5s ease;
    color: #ffff;
}

.services-box h3{
    font-size: 2.2rem;
    color: var(--main-color);
    margin: 1rem;
}

.services-box p{
    font-size: 1.3rem;
    margin: 2rem 0 3rem;

}

.servies-container .services-box:hover{
    border-color: #212d2a;
    transform: scale(1.02);
}
/* 2nd part  */
.services-containers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem;
}

 .services-box{
    flex: 1 1 30rem;
    background-color:#30363ae0;
    padding: 2rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid black;
    transition: .5s ease;
    color: #ffff;
} 

.services-box:hover{
    border-color: #212d2a;
    transform: scale(1.02);
}

.btn{
    border-radius: 30px;
    padding: 9px;
    color: #ffff;
    background-color: #336154;
    margin: 1rem;
    border: 1px solid #ffff;
    font-size: 17px;
}

footer{
    padding: 2rem 9%;
    background: #336154;
}

.container{
    /* max-width: 1200px; */
    font-size: 20px;
    margin: 1rem;
    text-align: center;
    /* margin-left: 22rem; */
}

.container a{
    margin: 3rem;
    margin-left: 2rem;
    color: #ffff;

}

hr{
     color: #ffff;
}

.text{
    margin: 3rem;
    line-height: 3rem;
    font-size: 21px;
    letter-spacing: 2px;
    color: #ffff;
}

#icons{
    letter-spacing: 30px;
    margin-top: 5rem;
    text-align: center;
}

.copyright{
    text-align: center;
    margin-top: 5rem;
    color: #fff;
    font-size: 20px;
}


